.navbar__Main {
  
  background-color: rgba(182, 172, 171, 0.432);
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 18pt;
  font-weight: bolder;
  color: black;
}

.navbar__header {
font-size: 30pt;
}
